<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>kkFileView - 在线文件预览</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="在线,文件,预览,word,excel,ppt,office,pdf,zip,rar,压缩,文本" />
	<meta name="description" content="kkFileView官网 - kkFileView使用Spring Boot搭建，易上手和部署，基本支持主流办公文档的在线预览，如doc,docx,Excel,pdf,txt,zip,rar,图片等等" />
</head>
<body>
  <script src="//unpkg.com/js-cookie@2.2.1/src/js.cookie.js"></script>
	<script>
    window.rootPath = '<%= rootPath %>';
    window.defaultLanguage = '<%= defaultLanguage %>';
    var lang = Cookies.get('docsite_language');
    if (!lang) {
      lang = '<%= defaultLanguage %>';
    }
    window.location = window.rootPath + '/' + lang + '/index.html';
  </script>
</body>
</html>