<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>kkFileView - 在线文件预览</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="在线,文件,预览,word,excel,ppt,office,pdf,zip,rar,压缩,文本" />
	<meta name="description" content="kkFileView官网 - kkFileView使用Spring Boot搭建，易上手和部署，基本支持主流办公文档的在线预览，如doc,docx,Excel,pdf,txt,zip,rar,图片等等" />
</head>
<body>
  <script>
    // 百度统计
    var _hmt = _hmt || [];
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?d06607a756285735eb4e18d467599a0c";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
    window.rootPath = '<%= rootPath %>';
    window.defaultLanguage = '<%= defaultLanguage %>';
    window.location.replace(window.rootPath + '/zh-cn/index.html');
  </script>
  <a href="<%= rootPath %>/zh-cn/index.html">进入首页</a>
</body>
</html>
